#about-page {
  min-height: 60vh;
  color: #eeeeee;
}
#about-page .col h4 {
  text-align: center;
}
#about-page .how-we-work-title, #about-page .how-we-work-text {
  text-align: center;
}
#about-page .how-we-work-title {
  color: #4ecca3;
}
#about-page .how-we-work-text {
  font-size: 1.5em;
}
#about-page > .row {
  padding-top: 2em;
}
#about-page > .row .col.text {
  padding-top: 4em;
}
#about-page > .row .col.text h4 {
  color: #4ecca3;
}
#about-page > .row .col.text p {
  font-size: 1.25em;
}
#about-page > .row .col.text ul {
  list-style-type: square !important;
}
#about-page > .row .col.text ul li {
  padding-top: 2em;
}
#about-page .process .col {
  text-align: center;
}
#about-page .process .col h4 {
  color: #4ecca3;
}
#about-page .process img {
  width: 90% !important;
}

@media screen and (max-width: 900px) {
  #about-page .row .col.text {
    padding-top: 1em;
  }
}
