@import "../../assets/css/theme";

#about {
	min-height: 60vh;
	color: $theme-white;

	li {
		font-size: 1.2em;
		margin-bottom: 0.5em;
	}

	.col h4 {
		text-align: center;
	}

	.how-we-work-title, .how-we-work-text {
		text-align: center;
	}

	.how-we-work-title {
		color: $theme-primary;
	}

	.how-we-work-text {
		font-size: 1.5em;
	}

	.how-we-work {
		margin-bottom: 10em;
	}

	.process {
		margin-bottom: 10em;
		.col {
			h4 {
				color: $theme-primary;
			}
			text-align: center;
		}
		img {
			width: 90% !important;
		}
	}

	& > .row {
		padding-top: 2em;

		.col {

			&.text {

				h4 {
					color: $theme-primary;
				}

				p {
					font-size: 1.25em;
				}

				ul {
					list-style-type: square !important;
					li {
						padding-top: 2em;
					}
				}

				padding-top: 4em;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	#about {
		.row {
			.col {
				&.text {
					padding-top: 1em;
				}
			}
		}
	}
}
