@import "../../../assets/css/theme";

#sidenav {
	overflow: hidden;
	background-color: $theme-grey;

	li, li a {
		color: $theme-white;
	}

	.user-view {
		padding: 0 !important;

		.logo img {
			padding: 0.5em;
			width: 100%;
		}

		.name {
			color: $theme-primary !important;
		}

		a, span {
			&.name, &.email {
				padding-left: 2em;
			}
		}
	}
}
