#sidenav {
  background-color: #393e46;
}
#sidenav li, #sidenav li a {
  color: #eeeeee;
}
#sidenav .user-view {
  padding: 0 !important;
}
#sidenav .user-view .name {
  color: #4ecca3 !important;
}
#sidenav .user-view a.name, #sidenav .user-view a.email, #sidenav .user-view span.name, #sidenav .user-view span.email {
  padding-left: 2em;
}
