#team-page {
  min-height: 60vh;
}
#team-page .title {
  text-align: center;
  color: #4ecca3;
}
#team-page > .row > .col {
  padding: 2em 4em;
}

@media screen and (max-width: 900px) {
  #team-page > .row > .col {
    padding: 1em;
  }
}
