@import "../../assets/css/theme";

#team {
	min-height: 60vh;
	z-index: 100;
	.title {
		text-align: center;
		color: $theme-primary;
	}

	//& > .row > .col {
	//	padding: 2em 4em;
	//}
}

@media screen and (max-width: 900px) {
	#team {
		& > .row > .col {
			padding: 1em;
		}
	}
}
