.blogpost-placeholder .outer {
  background-color: #393e46;
  width: 100%;
  height: 2.5em;
  border-radius: 10px;
  position: relative;
}
.blogpost-placeholder .inner {
  position: absolute;
  height: 1em;
  width: 70%;
  top: 0.75em;
  left: 0.25em;
  background-color: #4ecca3;
  border-radius: 10px;
}
