@import "../../assets/css/theme";

section#contact {
	min-height: 60vh;
	margin-top: 2em;

	.contact-us {
		color: $theme-primary;
	}

	.contact-form {
		button:focus {
			background-color: $theme-primary;
		}

		button:hover {
			background-color: $theme-primary-light;
		}
	}

	.contact-us ~ p {
		color: $theme-white;
	}

	.art {
		img {
			width: 100%;
		}
	}
}

@media screen and (max-width: 900px) {
	div#contact {
		padding-top: 2em;
	}
}
