@import "../../assets/css/theme";
@import "../../components/navbar/Navbar";

#header {
	margin-top: 5em;
	min-height: calc(70vh - #{$navbar-height});
	color: $theme-white;
	position: relative;

	.content {
		padding-top: $navbar-height;
		padding-bottom: $navbar-height;
		background-color: $theme-black-alpha;
		min-height: calc(70vh - #{$navbar-height});
	}

	.title {
		color: $theme-primary;
		font-size: 48px;
	}

	.text {
		font-size: 20px;
		font-weight: 100;
	}

	.collection {
		&, & li {
			background-color: inherit;
		}

		.collection-header {
			padding-top: 1em;
			font-size: 26px !important;
			color: $theme-white;
			border-bottom: none;
		}

		.collection-item {
			background-color: inherit;
			padding: {
				top: 1.5em;
				bottom: 1.5em;
				left: 1.4em;
			};

			border-bottom: 2px solid $theme-grey !important;

			&:last-of-type {
				border-bottom: none !important;
			}

			a {
				padding-bottom: .25em;
				color: $theme-primary;

				&:hover {
					border-bottom: 2px solid $theme-primary;
				}
			}
		}
	}

}

@media screen and (max-width: 900px) {
	#header {
		margin-top: 2em;
		.title {
			font-size: 36px;
		}

		padding-top: 0;
	}
}
