@import "theme";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $theme-black;
	overflow-x: hidden;
}

main {
	padding-top: 7em;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

::-webkit-scrollbar {
	 width: .5em;
 }

::-webkit-scrollbar-track {
	//box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	background-color: $theme-green;
}

::selection{
	background-color: $theme-green-light;
	color: $theme-black;
}
