@import "theme";

body, html {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $theme-dark;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100vw;
}

main {
	padding-top: 7em;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

::-webkit-scrollbar {
	 width: .5em;
 }

::-webkit-scrollbar-track {
	//box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	background-color: $theme-primary;
}

::selection{
	background-color: $theme-primary-light;
	color: $theme-dark;
}

@mixin color($color-value) {
	color: $color-value
}

@mixin bg-color($color-value) {
	background-color: $color-value;
}

@mixin border-color($color-value) {
	border-color: $color-value;
}

.theme-primary-text {
	@include color($theme-primary);
}

.theme-primary-border {
	@include border-color($theme-primary);
}

.theme-primary {
	@include bg-color($theme-primary);
}

.theme-black-text {
	@include color($theme-black);
}

.theme-black-border {
	@include border-color($theme-black);
}

.theme-black {
	@include bg-color($theme-black);
}


.theme-dark-text {
	@include color($theme-dark);
}

.theme-dark-border {
	@include border-color($theme-dark);
}

.theme-dark {
	@include bg-color($theme-dark);
}

.theme-grey-text {
	@include color($theme-grey);
}

.theme-grey-border {
	@include border-color($theme-grey);
}

.theme-grey {
	@include bg-color($theme-grey);
}

