#header {
  padding-top: 8em;
  color: #eeeeee;
}
#header .title {
  color: #4ecca3;
  font-size: 48px;
}
#header .text {
  font-size: 20px;
  font-weight: 100;
}
#header .collection, #header .collection li {
  background-color: #232931;
}
#header .collection .collection-header {
  padding-top: 1em;
  font-size: 26px !important;
  color: #eeeeee;
  border-bottom: none;
}
#header .collection .collection-item {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 1.4em;
  border-bottom: 2px solid #393e46 !important;
}
#header .collection .collection-item:last-of-type {
  border-bottom: none !important;
}
#header .collection .collection-item a {
  padding-bottom: 0.25em;
  color: #4ecca3;
}
#header .collection .collection-item a:hover {
  border-bottom: 2px solid #4ecca3;
}

@media screen and (max-width: 900px) {
  #header {
    padding-top: 0;
  }
  #header .title {
    font-size: 36px;
  }
}
