@import "../../assets/css/theme";

$navbar-height: 7em;

nav#nav {

	&.fixed {
		position: fixed;
		top: 0;
		height: 4em !important;
		background-color: $theme-grey;
	}

	&.fixed .spacer {
		display: none !important;
	}

	&.fixed {
		.current {
			background-color: $theme-primary-light;

			a {
				color: $theme-dark;
			}

		}
	}

	.fab-top {
		transition: all 500ms;
		filter: opacity(0);
		position: fixed;
		bottom: 2em;
		right: 2em;
		transform: translateX(6em);
		box-shadow: 0 0 10px rgba(0,0,0,1);
		background-color: $theme-primary;
		&:hover {
			box-shadow: 0 0 0 rgba(0,0,0,1);
			background-color: $theme-primary-light;
		}
		&:focus {
			background-color: $theme-primary;
		}
	}

	&.fixed .fab-top {
		transform: translateX(0em);
		filter: opacity(1);
	}

	position: absolute;
	top: 0;
	transition: all 500ms;
	margin-left: 0;
	margin-right: 0;
	z-index: 1000;
	background-color: $theme-dark;
	height: $navbar-height;
	overflow: hidden;

	.nav-logo {
		position: relative;
		display: inline-block;
		top: calc(50% + 1em);
		transform: translate(0, -50%);
	}

	.nav-logo img {
		height: $navbar-height;
	}

	.spacer {
		display: block;
		height: 3em;
	}

	.menu {
		display: block;
		height: 4em;
	}

	ul.menu li {
		height: 100%;
		width: 6em;
		text-align: center;
	}

	ul.menu li a {
		&:hover {
			color: $theme-primary;
			background-color: $theme-dark;
			border-bottom: 2px solid $theme-primary;
			height: 4em;
		}
	}
}

@media screen and (max-width: 900px) {
	nav#nav {
		height: 5em;

		.spacer {
			height: 1em;
		}

		.menu {
			height: 4em;
		}
	}
}
