@import "src/assets/css/index";

#work {
	& > h2 {
		margin-bottom: 2em;
	}

	.carousel.carousel-slider {
		z-index: 1000 !important;
		img {
			pointer-events: auto;
		}
	}

	.carousel {
		height: initial;
		.work-href {
			i {
				margin-right: 0.25em;
			}
			position: absolute;
			font-size: 1.25em;
			padding: 1em;
			right: 0;
			bottom: 0;
			background-color: $theme-black-alpha;
		}

		.thumbs {
			.thumb {
				overflow-y: hidden;
				text-align: center;
				max-height: 5em;
				img {
					width: 100%;
				}
			}


			.thumb:hover {
				cursor: pointer;
				@include border-color($theme-white)
			}

			.thumb {
				@include border-color($theme-grey)
			}

			.thumb.selected {
				@include border-color($theme-primary)
			}
		}

		.carousel-status {
			font-size: 1em;
		}
	}
}
