@import "../../assets/css/theme";

.member-card {
	.card-content {
		min-height: 10em;
	}
	.card-action {
		padding-top: 1em;
		border-top: 1px solid $theme-primary;
	}
	.card-image {
		cursor: pointer;
		img {

			transition: all 500ms;
			width: 100%;
			border-radius: 50%;
			box-sizing: border-box;
			border: 5px solid $theme-grey;
		}
	}

	.role {
		padding-top: .25em;
		padding-bottom: .25em;
	}

	&:hover {
		.card-image img {
			border: 5px solid $theme-primary-light;
		}

		.card-action {
			border-top: 1px solid $theme-primary-light;
		}
	}

	.card-content {

		h5 {
			font-size: 2em;
			color: $theme-primary !important;
			text-align: center;
			width: 100%;
		}

		h6 {
			color: $theme-white !important;
			text-align: center;
			width: 100%;
		}
	}

	.more {
		color: $theme-primary !important;

		&:hover {
			background-color: $theme-primary !important;
			color: $theme-white !important;
		}
	}

	.col {
		padding: 1em !important;
	}
}

.modal {
	.modal-content {
		width: 100%;

		h4 {
			color: $theme-primary !important;
		}

		img {
			width: 100%;
		}

		.info .email {
			color: $theme-primary-light;
			&:hover {
				text-decoration: underline;
				color: $theme-white;
			}
		}
	}

	.modal-close {
		color: $theme-primary;

		&:hover {
			background-color: $theme-primary !important;
			color: $theme-white;
		}
	}

	.modal-footer {
		width: 100% !important;
		background-color: $theme-black !important;
		border-color: $theme-black;
	}

	.social-media {
		border-top: 1px solid $theme-primary-light;
		text-align: left;
	}
}

@media screen and (max-width: 900px) {
	.title {
		margin-bottom: 0;
	}
	.member-card {
		.card-image {
			padding: 1em 3em 1em 3em;
		}


	}
	.member-modal {
		.modal-content {
			height: 90% !important;

			h4, h6 {
				text-align: center;
			}
		}

		.social-media {
			text-align: center;
		}
	}
}
