@import "../../assets/css/theme";

.member-card {
	.card-image {
		padding: 7em 7em 3em 7em;
	}

	.card-content {

		h5 {
			font-size: 2em;
			color: $theme-green !important;
			text-align: center;
			width: 100%;
		}

		h6 {
			color: $theme-white !important;
			text-align: center;
			width: 100%;
		}
	}

	.more {
		color: $theme-green !important;

		&:hover {
			background-color: $theme-green !important;
			color: $theme-white !important;
		}
	}

	.col {
		padding: 1em !important;
	}
}

.modal {
	.modal-content {
		width: 100%;

		h4 {
			color: $theme-green !important;
		}

		img {
			width: 100%;
		}

		.info .email {
			color: $theme-green-light;
			&:hover {
				text-decoration: underline;
				color: $theme-white;
			}
		}
	}

	.modal-close {
		color: $theme-green;

		&:hover {
			background-color: $theme-green !important;
			color: $theme-white;
		}
	}

	.modal-footer {
		width: 100% !important;
		background-color: $theme-black !important;
		border-color: $theme-black;
	}

	.social-media {
		text-align: right;
	}
}

@media screen and (max-width: 900px) {
	.member-card {
		.card-image {
			padding: 3em 3em 1em 3em;
		}


	}
	.member-modal {
		.modal-content {
			height: 90% !important;

			h4, h6 {
				text-align: center;
			}
		}

		.social-media {
			text-align: center;
		}
	}
}
